[Desktop Entry]
Version=1.0
Type=Application
Name=Robotics Challenge Refresh
Comment=
Exec=/home/roboteer/brc.sh
Icon=/home/roboteer/RoboticChallenge/icon.png
Path=
Terminal=true
StartupNotify=true
