[Desktop Entry]
Version=1.0
Type=Application
Name=Refresh Local
Comment=
Exec=/home/roboteer/refresh_local.sh
Icon=/home/roboteer/icon-coding-150.png
Path=
Terminal=true
StartupNotify=false
